.Navbar {
  background-color: #595959;
  max-width: 1600px;
  margin: 0 auto;
  color: white;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Logo {
  display: flex;
  height: 100px;
  background-color: #000000;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow:hidden;
   
}

.Image {
  display: flex;
  gap: 20px;
  margin: 0px auto;
  align-items: center;
    
}

.Email {
  display: flex;
  align-items: center;
  gap: 8px;
  color: whitesmoke;
  margin-left: 15px;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 550px) {
  .hide {
    display: none;
  }}