.Card {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0px 10px 5px 10px;
}

.CardSg {
  max-width: 700px;
  border: solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #007cb1;
  margin-bottom: 24px;
}

h3 {
  margin-left: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
